In [1]:
from sklearn import preprocessing

In [2]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

df = pd.read_csv('college91.csv')
df

,College,Group,Enrollment,Resident,Nonresident
0,Columbus College,1,3482,1365,3747
1,Southeastern Massachusetts University,1,5354,1677,4983
2,US Naval Academy,1,4500,1500,1500
3,Athens State College,1,1392,1080,2160
4,University of South Alabama,1,9195,1875,2475
5,Virginia State University,1,3308,3071,5135
6,SUNY College of Technology-Farmingdale,1,10802,1542,3950
7,University of Houston,1,18684,930,4050
8,CUNY-Lehman College,1,7841,1340,4140
9,Austin Peay State University,1,4784,1210,4166
10,SUNY-New Paltz,2,4696,1495,4095
11,Indiana University--Southeast,2,4931,1350,3342
12,University of Wisconsin-Platteville,2,5080,1658,4740
13,University of California-Santa Barbara,2,16853,1578,5799
14,Weber State College,2,12783,1308,3513
15,Kennesaw College,2,8404,1296,3678
16,South Dakota State University,2,6366,1835,3363
17,Dickinson State University,2,1402,1659,4731
18,Chadron State College,2,2143,1361,2036
19,University of Alaska-Fairbanks,2,7028,1512,3540
20,University of Alaska-Anchorage,3,4091,941,2765
21,University of Maine-Fort Kent,3,594,1710,4140
22,Southern University-Baton Rouge,3,9448,1354,2876
23,University of Oregon,3,13786,1782,5043
24,Virginia State University,3,3308,3071,5135
25,Glenville State College,3,2185,1150,2900
26,Winston-Salem State University,3,2532,896,4268
27,Framingham State College,3,3359,1701,4729
28,SUNY-Old Westbury,3,3999,1350,3292
29,NW MO State Univ,3,4600,1320,2415
30,Central Washington University,4,6398,1674,5712
31,Worcester State College,4,3600,1296,3792
32,University of California-Davis,4,17202,1676,7592
33,Sam Houston State University,4,12359,1060,4180
34,University of Texas-Tyler,4,2335,861,3695
35,Southeastern Oklahoma State University,4,3616,804,1992
36,University of Southern Colorado,4,3909,1536,5275
37,Pennsylvania State University,4,31251,3754,7900
38,East Central University,4,3606,1200,4140
39,University of Arkansas-Monticello,4,1854,1410,3230

In [3]:
label = "Enrollment"    # this will be your response variable. What are you trying to predict? Plug-and-chug

y = df[label]
X = df.select_dtypes(np.number).assign(const=1)  #drop all categorical features and allow y-intercept to vary
X = X.drop(columns=[label,"Group","Resident"])                       # X is capitalized because it represents a matrix of multiple x-columns

model = sm.OLS(y, X)
results = model.fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             Enrollment   R-squared:                       0.312
Model:                            OLS   Adj. R-squared:                  0.294
Method:                 Least Squares   F-statistic:                     17.23
Date:                Thu, 16 Jan 2025   Prob (F-statistic):           0.000180
Time:                        09:06:21   Log-Likelihood:                -397.09
No. Observations:                  40   AIC:                             798.2
Df Residuals:                      38   BIC:                             801.6
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Nonresident     2.4977      0.602      4.151      0.000       1.280       3.716
const       -3177.6735   2540.483     -1.251      0.219   -8320.613    1965.266
==============================================================================
Omnibus:                        6.308   Durbin-Watson:                   2.262
Prob(Omnibus):                  0.043   Jarque-Bera (JB):                5.075
Skew:                           0.830   Prob(JB):                       0.0791
Kurtosis:                       3.539   Cond. No.                     1.33e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.33e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [4]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

pokemon = pd.read_csv('pokemon.csv')
pokemon

,name,type1,type2,weight_kg,hp,attack,defense,speed,generation,is_legendary
0,Bulbasaur,grass,poison,6.9,45,49,49,45,1,0
1,Ivysaur,grass,poison,13.0,60,62,63,60,1,0
2,Venusaur,grass,poison,100.0,80,100,123,80,1,0
3,Charmander,fire,NaN,8.5,39,52,43,65,1,0
4,Charmeleon,fire,NaN,19.0,58,64,58,80,1,0
...,...,...,...,...,...,...,...,...,...,...
796,Celesteela,steel,flying,999.9,97,101,103,61,7,1
797,Kartana,grass,steel,0.1,59,181,131,109,7,1
798,Guzzlord,dark,dragon,888.0,223,101,53,43,7,1
799,Necrozma,psychic,NaN,230.0,97,107,101,79,7,1
800,Magearna,steel,fairy,80.5,80,95,115,65,7,1

In [5]:
pokemon = pokemon.dropna()
pokemon

,name,type1,type2,weight_kg,hp,attack,defense,speed,generation,is_legendary
0,Bulbasaur,grass,poison,6.9,45,49,49,45,1,0
1,Ivysaur,grass,poison,13.0,60,62,63,60,1,0
2,Venusaur,grass,poison,100.0,80,100,123,80,1,0
5,Charizard,fire,flying,90.5,78,104,78,100,1,0
11,Butterfree,bug,flying,32.0,60,45,50,70,1,0
...,...,...,...,...,...,...,...,...,...,...
794,Pheromosa,bug,fighting,25.0,71,137,37,151,7,1
796,Celesteela,steel,flying,999.9,97,101,103,61,7,1
797,Kartana,grass,steel,0.1,59,181,131,109,7,1
798,Guzzlord,dark,dragon,888.0,223,101,53,43,7,1
800,Magearna,steel,fairy,80.5,80,95,115,65,7,1

In [10]:
label = "hp"    # this will be your response variable. What are you trying to predict? Plug-and-chug

y = pokemon[label]
X = pokemon.select_dtypes(np.number).assign(const=1)  #drop all categorical features and allow y-intercept to vary
X = X.drop(columns=[label,"generation", "speed"])                       # X is capitalized because it represents a matrix of multiple x-columns

model = sm.OLS(y, X)
results = model.fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                     hp   R-squared:                       0.373
Model:                            OLS   Adj. R-squared:                  0.366
Method:                 Least Squares   F-statistic:                     58.41
Date:                Thu, 16 Jan 2025   Prob (F-statistic):           1.13e-38
Time:                        09:10:09   Log-Likelihood:                -1756.8
No. Observations:                 398   AIC:                             3524.
Df Residuals:                     393   BIC:                             3544.
Df Model:                           4
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
weight_kg        0.0783      0.011      7.398      0.000       0.057       0.099
attack           0.2356      0.036      6.635      0.000       0.166       0.305
defense         -0.0580      0.036     -1.625      0.105      -0.128       0.012
is_legendary    14.0765      3.596      3.915      0.000       7.008      21.145
const           49.0734      3.165     15.504      0.000      42.851      55.296
==============================================================================
Omnibus:                       97.878   Durbin-Watson:                   1.617
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              331.753
Skew:                           1.082   Prob(JB):                     9.14e-73
Kurtosis:                       6.914   Cond. No.                         588.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [7]:
label = "hp"    # this will be your response variable. What are you trying to predict? Plug-and-chug

y = pokemon[label]
X = pokemon.select_dtypes(np.number).assign(const=1)  #drop all categorical features and allow y-intercept to vary
X = X.drop(columns=[label,"generation","speed","defense"])                       # X is capitalized because it represents a matrix of multiple x-columns

model = sm.OLS(y, X)
results = model.fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                     hp   R-squared:                       0.369
Model:                            OLS   Adj. R-squared:                  0.364
Method:                 Least Squares   F-statistic:                     76.68
Date:                Thu, 16 Jan 2025   Prob (F-statistic):           4.37e-39
Time:                        09:06:21   Log-Likelihood:                -1758.1
No. Observations:                 398   AIC:                             3524.
Df Residuals:                     394   BIC:                             3540.
Df Model:                           3
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
weight_kg        0.0733      0.010      7.222      0.000       0.053       0.093
attack           0.2167      0.034      6.446      0.000       0.151       0.283
is_legendary    14.1578      3.603      3.930      0.000       7.075      21.241
const           46.4246      2.719     17.074      0.000      41.079      51.770
==============================================================================
Omnibus:                      100.551   Durbin-Watson:                   1.586
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              338.752
Skew:                           1.115   Prob(JB):                     2.76e-74
Kurtosis:                       6.931   Cond. No.                         527.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.