In [22]:
import pandas as pd

df = pd.read_csv('AB_NYC_2019.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [23]:
df_reduced = df[["price", "name", "availability_365", "room_type"]]
df_reduced

,price,name,availability_365,room_type
0,149,Clean & quiet apt home by the park,365,Private room
1,225,Skylit Midtown Castle,355,Entire home/apt
2,150,THE VILLAGE OF HARLEM....NEW YORK !,365,Private room
3,89,Cozy Entire Floor of Brownstone,194,Entire home/apt
4,80,Entire Apt: Spacious Studio/Loft by central park,0,Entire home/apt
...,...,...,...,...
48890,70,Charming one bedroom - newly renovated rowhouse,9,Private room
48891,40,Affordable room in Bushwick/East Williamsburg,36,Private room
48892,115,Sunny Studio at Historical Neighborhood,27,Entire home/apt
48893,55,43rd St. Time Square-cozy single bed,2,Shared room
48894,90,Trendy duplex in the very heart of Hell's Kitchen,23,Private room

In [24]:
df.room_type.unique()

array(['Private room', 'Entire home/apt', 'Shared room'], dtype=object)

In [25]:
##df = pd.DataFrame({'Shared room':[1], 'Private room':[2], 'Entire home/apt':[3]})
##df

In [31]:
df['room_type'].replace("Shared room", 1, inplace=True)
df['room_type'].replace("Private room", 2, inplace=True)
df['room_type'].replace("Entire home/apt", 3, inplace=True)

In [32]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,2,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,3,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,2,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,3,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,3,80,10,9,2018-11-19,0.10,1,0